button {
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: filter 0.2s;

  &.like-button {
    display: flex;
    // align-items: flex-end;
    color: #737380;
    gap: 8px;

    > span {
      padding-top: 6px;
    }

    &.liked {
      color: #835afd;

      svg path {
        stroke: #835afd;
      }
    }
  }

  &:hover {
    filter: brightness(0.7);
  }
}
